@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-color: #388AE5;
    --secondary-color: #ffffff;
    --info-color: #f5f5f5;
    --succes-color: #2ecc71;
    --danger-color: #e74c3c;
}