.input__container {
    position: relative;
}

.input {
    width: 100%;
    border-radius: 5px;
    background-color: var(--info-color);
    outline: none;
    padding: 12px 40px;
    border: 1px solid var(--secondary-color);
}

.input-noicon {
    padding: 12px 25px;
}

.input:focus {
    border-color: var(--primary-color);
}

.input-icon svg {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    font-size: 1.375rem;
    line-height: 1;
}

.input__container:focus-within .input-icon svg {
    color: var(--primary-color);
}